@charset "utf-8";
/* CSS Document */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
/* Floatバグ回避用 */
.clearfix:after { content: ""; display: block; clear: both; }
/* end */

/* group reset */
*{margin: 0; padding: 0;}
a { text-decoration : none;}
ul, ol { list-style : none;}
img{ vertical-align : middle;}
/* end */

/* 基本設定 */
html {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック','MS PGothic',sans-serif;
}

body {
	position:relative;
	padding:0;
	color:#29312f;
	height:100%;
	background-image:url(/common/images/bg01.gif);
}
a {color:#2ba3a3; text-decoration:none;}
a:hover {color:#f5a530;text-decoration:underline;}

header,
footer {
	position:relative;
	width:100%;
	color:#f6f5e9;
}
header {
	background-color:#29312f;
	z-index:1000;
}
footer {
	background-color:#4a6844;
	text-align:center;
}
article {
	clear:both;
	position:relative;
	margin:0 auto;
	background-image:url(/common/images/kura.gif);
	background-position:right bottom;
	background-repeat:no-repeat;
}

/*#login .off,
#logout .on {
	display:none;
}*/
header dl {
	margin:0 auto;
	height:40px;
	font-size:12px;
	overflow:hidden;
	text-align:left;
}
header dt,
header dd {
	display:block;
	float:left;
	padding:0 0 0 1em;
	line-height:40px;
}
header dt {
	font-size:12px;
}
header dt input {
	width:150px;
	font-size:14px;
	line-height:20px;
	padding:3px;
	border:none;
	background-color:#CCC;
}
header dt input:focus {
	background-color:#f4f3e4;
}
header dt a {
	color:#8fc31f;
}
header dd {
	font-size:10px;
}
header dd button {
	padding:2px 5px;
	font-size:14px;
	font-weight:bold;
	line-height:20px;
	background-color:#8fc31f;
	border:none;
	border-radius:3px;
	background-image:url(/common/images/nav-base.png);
	background-position:center;
	white-space:nowrap;
}
header dd button:hover {
	cursor:pointer;
	background-color:#add15a;
}
#headAlert {
	margin:0;
	padding:15px 0 0 0;
	background-color:#FFF;
	width:100%;
	text-align:center;
}
#headAlert p {
	display:block;
	margin:0 auto;
	padding:0 0 15px;
	color:#C00;
	line-height:1.2em;
}

nav,
nav h1,
nav ul,
nav li,
section {
	display:block;
	float:left;
	text-align:center;
}
h1 a,
nav li a,
.box-mm,
.box-lm,
.box-ll,
.box-news,
.box-contents {
	position:relative;
	display:block;
	margin:0 auto;
	overflow:hidden;
	border-radius:5px;
	box-shadow:0 0 4px rgba(0,0,0,0.2);
}
.box-mm,
.box-lm,
.box-ll,
.box-news,
.box-contents {
	background-color:#FFF;
}
.box-mm,
.box-contents {
	background-position:top right;
	background-repeat:no-repeat;
}
.box-contents {
	padding: 0 0 2em 0;
}
.community .box-mm,
.community .box-contents { background-image:url(/common/images/box-icon4.gif); }
.support .box-mm,
.support .box-contents { background-image:url(/common/images/box-icon3.gif); }
.program .box-mm,
.program .box-contents { background-image:url(/common/images/box-icon2.gif); }
.service .box-mm,
.service .box-contents { background-image:url(/common/images/box-icon1.gif); }
h1 {
	position:relative;
}
h1 span {
	display:block;
	position:absolute;
	top:0;
	left:0;
	z-index:1000;
}
h1 a {
	color:#4a6844;
	font-size:13px;
	line-height:20px;
	text-decoration:none;
	text-align:center;
	background-color:#FFF;
	background-image:url(/common/images/logo.gif);
	background-repeat:no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
h1 a:hover {
	color:#4a6844;
	text-decoration:none;
	background-color:#f4f3e4;
}
nav li a {
	color:#f6f5e9;
	font-size:13px;
	background-position:center;
	background-repeat:no-repeat;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
}
nav li a:hover {
	color:#f6f5e9;
	text-decoration:none;
}
#btnCommunity a,
#btnSupport a,
#btnProgram a,
#btnService a {background-image:url(/common/images/nav-base.png);}
#btnCommunity a { background-color:#7e713e;}
#btnSupport a { background-color:#5f7e3e;}
#btnProgram a { background-color:#3e7e79;}
#btnService a { background-color:#3e647e;}
#btnCommunity a:hover { background-color:#a39a75;}
#btnSupport a:hover { background-color:#8da373;}
#btnProgram a:hover { background-color:#74a198;}
#btnService a:hover { background-color:#748f9b;}

footer #linkBox {
	margin:0 auto;
	width:100%;
	text-align:left;
}
footer #linkBox a {
	color:#f6f5e9;
	text-decoration:none;
}
footer #linkBox a:hover {
	color:#f5a530;
	text-decoration:underline;
}
footer ul {
	padding: 0.5em;
	font-size:12px;
	line-height:20px;
	border-bottom:1px solid #314e2b;
}
footer dl {
	display:block;
	float:left;
	padding:0 0 20px 0;
	width:100%;
	text-align:center;
	border-top:1px solid #62835b;
	border-bottom:1px solid #314e2b;
}
footer dt,
footer dd {
	width:85%;
	margin:0 auto;
	line-height:1.2em;
}
footer dt {
	padding:1em 0 0.5em 0;
	font-size:14px;
	font-weight:bold;
	border-bottom:6px solid #62835b;
}
footer dd {
	padding:1em 0 0 0;
	font-size:12px;
}
footer p {
	font-size:10px;
	line-height:30px;
	height:30px;
	text-align:center;
	background-color:#29312f;
	white-space:nowrap;
}


/* TOPへ戻るボタンの設定 */
#toTop {
	position:fixed;
	bottom:35px;
	right:-5px;
	z-index:1500;
	text-align:center;
}
#toTop a {
	display:block;
	width:40px;
	height:80px;
	color:#FFF;
	font-size:16px;
	line-height:80px;
	text-decoration:none;
	border-radius:5px;
	background-color:rgba(0,0,0,0.5);
	box-shadow:0 3px 5px rgba(0,0,0,0.2);
}
#toTop a:hover {background-color:rgba(0,0,0,0.8);}
#pos {
	position:absolute;
	left:-9999px;
	top:-9999px;
	height:0;
	visibility:hidden;
}

/* IE8表示崩れ防止用 */
#toTop a {background-image:url(/common/images/totop.png)\9;}

/* IE7表示崩れ防止用 */
*+html #head li,
*+html #foot li {display:inline;}
*+html #toTop a {background-image:url(/common/images/totop.png);}
*+html #toTop a:hover { opacity:1;}

/* IE6表示崩れ防止用 */
*html .section {background-color:#FFF;}
*html #head li,
*html #foot li {display:inline;}
*html #toTop {display:none !important;}